#img{
    margin: 10px
}

#searchBtn{
    margin-bottom: 10px;
}

#loading {
    border-radius: 100%;
    width: 0px;
    height: 0px;
    margin: auto;
    border-width: 32px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-top-color: turquoise;
    border-left-color: turquoise;
    
}

.hide {
    display: none;
}

#form{
    margin: 10px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
#errorText{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}